!!!
%html
	%head
		%title JavaRps
		%link{:href => "css/style.css", :rel => "stylesheet"}/
		%body
			%header
				%h1
					ROCK. PAPER. SCISSORS
				%h2
					Make your choice
			%section.images
				%img{:alt => "Rock", :src => "images/rock.jpg"}/
				%img{:alt => "Paper", :src => "images/paper.jpg"}/
				%img{:alt => "Scissors", :src => "images/scissors.jpg"}/