!!!
%html
	%head
		%title JavaRps
		%link{:href => "css/style.css", :rel => "stylesheet"}/
		%body
			%header
				%h1
					ROCK. PAPER. SCISSORS
				%h2
					Make your choice
			%section.images
				%img#rock{:alt => "Rock", :src => "images/rock.jpg"}/
				%img#paper{:alt => "Paper", :src => "images/paper.jpg"}/
				%img#scissors{:alt => "Scissors", :src => "images/scissors.jpg"}/
			%script{:src => "js/jquery-2.1.1.min.js"}
			%script{:src => "js/rpsJava.js"}
			%script{:src => "js/rpsUi.js"}
